[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
django-rest-framework = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"
dj-database-url = "*"
celery = "*"
redis = "*"

[dev-packages]
pre-commit = "*"
isort = "*"

[requires]
python_version = "3.9"
